
.title{
	border: none;
	padding: 5px 14px;
	text-align: left;
	font-size: 18px;
	color: white;
	background-color: #2251dd;
}

.errorMsg{
	border: none;
	float: center;
	text-align: center;
	padding: 5px 14px;
	margin-top: 20px;
	font-size: 18px;
	background: #ff9999;
	color: red;
}
